@font-face {
    font-family: arcade-font;
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
  }

html, body {
    height: 100%;
}
#color{
    background-color: #041D37;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}
.first-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.second-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#green{
    background-color: green;
    height: 22vh;
    width:22vh;
    margin-right: 20px;
    border-radius: 25px;
    border: 5px solid black;
 
}
#red{
    background-color: red;
    height: 22vh;
    width:22vh;
    border-radius: 25px;
    border: 5px solid black;
}
#yellow{
    background-color: yellow;
    height: 22vh;
    width:22vh;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 25px;
    border: 5px solid black;

}
#blue{
    background-color: blue;
    height: 22vh;
    width:22vh;
    margin-top: 20px;
    border-radius: 25px;
    border: 5px solid black;
}
#diff{
    font-size: 5.2vh;
    color: white;
    font-family: arcade-font;
    margin-top: 35px;
    display: flex;
    text-align: center;
}
#diff >h1{
    font-size: 5.5vh;
    padding-top: 11px;
    padding-left: 10px;;
}
#chooseLevel{
    font-size: 4.5vh;
    padding-top: 11px;
    padding-left: 10px;
    color: white;
    font-family: arcade-font;
    text-align: center;
    padding-top: 60px;
}
