@font-face {
    font-family: arcade-font;
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
  }
body{
    background-color: #041D37;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.first-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
}
.second-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.green{
    background-color: green;
    height: 22vh;
    width:22vh;
    margin-right: 20px;
    border-radius: 25px;
    border: 5px solid black;
 
}
.red{
    background-color: red;
    height: 22vh;
    width:22vh;
    border-radius: 25px;
    border: 5px solid black;
}
.yellow{
    background-color: yellow;
    height: 22vh;
    width:22vh;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 25px;
    border: 5px solid black;

}
.blue{
    background-color: blue;
    height: 22vh;
    width:22vh;
    margin-top: 20px;
    border-radius: 25px;
    border: 5px solid black;
}
.level > h1{
    font-size: 5vh;
    color: white;
    font-family: arcade-font;
}
.level{
    margin-top: 40px;
}